<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Car Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Home</a>
        </li>
      </ul>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <div *ngIf="!loggedIn; else loggetOut">
            <span class="title-right">
              <button mat-button (click)='goToLogin()'>
                <mat-icon>
                  login
                </mat-icon>
                Login
              </button>
            </span>
          </div>
          <ng-template #loggetOut>
            <button class="title-right" mat-menu-item [matMenuTriggerFor]="menu">
              {{user.name}}
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)='goToProfile()'>
                <mat-icon>
                  account_circle
                </mat-icon>
                {{user.name}}
              </button>
              <button mat-menu-item (click)='louOut()'>LogOut</button>
            </mat-menu>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</nav>