<div class='margintop'></div>
<div *ngIf='isChecked'>
    <mat-tab-group mat-align-tabs="center" class='margintop'>
        <mat-tab label="Личная информация">
            <app-profile (updatePersonalInformation)='updatePersonalInformation()' [user]='user'>
            </app-profile>
        </mat-tab>
        <div *ngIf='user?.userRole !==1'>
            <mat-tab *ngIf='user?.userRole!==1' label="Корзина">
                <app-cart [user]='user'>
                </app-cart>
            </mat-tab>
            <mat-tab label="Заказы">
                <app-order *ngIf='user?.role!==1' [orders]='user?.orders'>
                </app-order>
            </mat-tab>
        </div>
    </mat-tab-group>
</div>