.content {
    width: 80%;
    min-height: 60px;
    margin: auto;
  
    background-color: white;
  
    text-align: center;
  }
  
  .product-button {
    text-align: center;
  
    padding-top: 10px;
  }
  