.content {
    width: 80%;
    min-height: 60px;
    margin: auto;
  
    background-color: white;
  
    text-align: center;
  }
  
  .product-button {
    text-align: center;
  
    padding-top: 10px;
  }

  .example-card {
    max-width: 600px;
    margin-left: 20px;
    margin-top: 140px;
  }
  
  .example-header-image {
    background-image: url('https://avatars.mds.yandex.net/get-zen_doc/3488488/pub_5f1de6ea6d89d83ccb78b2ed_5f1ea4f1697d3b104b59f1aa/scale_1200');
    background-size: cover;
  }
  .marginLeftRight {
    margin-left: 20px;
    margin-right: 20px;
  }
